.header {
    position: absolute;
    width: 100%;
    height: fit-content;
    top: 0vh;
    margin: auto;
    z-index: 10;
}

#introMessage {

/*     border: black;
    border-style: dashed; */

    position: absolute;
    width: 50%;
    /* margin: auto; */
    top: 10vh;
    left: 8vh;
    z-index: -1;
}