.mat-toolbar{
    background-color: #ededed; 
    height: 6vh; 
    width:100%;
}

.flex-item {
    /* border: #25356a;
    border-style: double; */
}

.headerTitle {
    /* display: flex; */
    /* padding:1%; */
    /* align-items: center; */
    
}

.mat-icon {
    vertical-align: text-bottom;
    color: #25356a;
    position: relative;
}

a {
    color: #25356a;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 7px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 15pt;
    font-style: normal;
}

.wrapper {
    /* min-width: 1024px; */
    width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
}

#headerText {
    padding:6%;
}
