
<div id = "editContainer">
    <div id="changeLocation">
        <button mat-raised-button (click)="changeLocation()">
            Change Location
        </button>
    </div>

    <div id="changeEmail">
        <button id="btn" mat-raised-button (click)="changeEmail()">
            Change Email
        </button>
    </div>

    <div id="changeNotification">
        <button id="btn" mat-raised-button (click)="changeNotification()">
            Change Notification Preferences
        </button>
    </div>

    <div id="changeSharing">
        <button id="btn" mat-raised-button (click)="changeSharing()">
            Change Sharing Preferences
        </button>
    </div>

    <div id="addBox">
        <button id="btn" mat-raised-button (click)="addABox()">
            Add a Box
        </button>
    </div>

    <div id="logout">
        <button id="btn" mat-raised-button (click)="logout()">
            Logout
        </button>
    </div>
</div>