.container3 {

}

.mat-card{
    background-color:#25356a;
    align-items: center;
}

.mat-card-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ededed;
    text-align: center;
}

.mat-card-content{
    align-items: center;
    text-align: center;
}


#userName {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:  30px;
    font-weight:bold;
    color: #25356a;
}

.imageContainer{
    width: 150px;
    height: 150px;

    border-radius: 50%;
}

.profileInput {
    display: none;
}

.upload_button {
    background-color:#ededed;
    color: #25356a;
    font-size:  14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}