.container3 {

}

.mat-card{
    background-color: transparent;
    align-items: center;
}

.mat-card-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #25356a;
    text-align: center;
}

.mat-card-content{
    align-items: center;
    text-align: center;
}


#userName {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:  30px;
    font-weight:bold;
    color: #25356a;
}

.imageContainer{
    border-radius: 50%;
}


#changeImage {

}

