<div class= "container3">
    <mat-card>
        <mat-card-title>
            {{userName}}
        </mat-card-title>

        <mat-card-content>
            <img src="{{profileUrl}}" alt="Profile Picture" class="imageContainer">
        </mat-card-content>
    

        <mat-card-content>

            <input class="profileInput" type="file" (change)="uploadFile($event)" accept=".png, .jpg" #profileUpload/>


            <button class="upload_button" (click)="profileUpload.click()" mat-raised-button>Edit 
                <mat-icon>add_a_photo</mat-icon>
            </button>

        </mat-card-content>



    </mat-card>
</div>

