<div class= "container3">
    <mat-card>
        <mat-card-title>
            {{userName}}
        </mat-card-title>

        <mat-card-content>
            <img src="{{profileUrl}}" alt="Profile Picture" class="imageContainer">
        </mat-card-content>
    
        <mat-card-content>
            <input type="file" (change)="uploadFile($event)" accept=".png, .jpg" />
        </mat-card-content>
    </mat-card>
</div>

<!-- <div>
    {{ profileUrl }}
https://via.placeholder.com/100
    <img src="{{profileUrl}}" alt="Image of something">
</div>
 -->
<!-- 

        <div id="userName">
        {{userName}}
    </div>
    
    <div id = "changeImage">
        <div>
            <input type="file" (change)="uploadFile($event)" accept=".png, .jpg" />
        </div>
    </div>
    
    <div id="imageContainer">
        <img alt="Profile Picture" [src]="profileUrl | async" />     
    </div>
 -->