
<carousel interval="1500000" activeSlide="0" fxLayout="column">
    <slide>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5%" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="30">
                During Stage 1, the box acts like a bird feeder. The lid to the food is opened up and the box serves no other function than to acclimatise the birds to the box's look, feel and sounds.
            </div>

            <div>
                <img src="https://via.placeholder.com/400" alt="Image of Food Lid Open">
            </div>
        </div>
    </slide>

    <slide>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5%" fxLayout.xs="column" fxLayout.sm="column">
            <div>
                <img src="https://via.placeholder.com/400" alt="Image Food Lid Shut with something on top?">
            </div>

            <div fxFlex="30">
                In Stage 2, the food lid is shut. When a crow lands on the top of the box, it clicks a button which opens the food lid. This basic reward system is to encourage the crows to land on the box as often as possible.
            </div>
        </div>
    </slide>
        
    <slide>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5%" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="30">
                In Stage 3, the crows will have access to a set of coins which they must figure out how to deposit into the box. Upon successfully depositing a coin down the access point, the food lid will open and they will once again be rewarded.
            </div>
            
            <div>
                <img src="https://via.placeholder.com/400" alt="Image with coins on the lid">
            </div>
        </div>
    </slide>

    <slide>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5%" fxLayout.xs="column" fxLayout.sm="column">
            <div>
                <img src="https://via.placeholder.com/400" alt="Image of the box as it is">
            </div>

            <div fxFlex="30">
                The 4th and Final Stage functions similar to Stage 3, except the coins will not be provided to the crows as they will be expected to find and bring their own from the environment.
            </div>
        </div>
    </slide>
</carousel>




