
<carousel interval="1500000" activeSlide="0" fxLayout="column" class="carouselStyle">
    <slide>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5%" fxLayout.xs="column" fxLayout.sm="column">
            <div  fxFlex="50">
                <mat-card style="width: 100%;">
                    <mat-card-title>
                        Training Stage 1
                    </mat-card-title>
                    <mat-card-content>

                        <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="2%">
                            <!-- THE MESSAGE -->
                            <div>
                                During the first training stage, all functions of the CrowBox are disabled. The box is left out in the wild for the crows to interact with however they see fit. 
                            </div>

                            <!-- THE BULLET POINTS -->
                            <div>
                                <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="2%">
                                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="2%" style="width: 100%;">
                                        <div>
                                            <fa-icon [icon]="faLockOpen"></fa-icon> 
                                        </div>
                                        <div style="width: 100%;">
                                            The lid to the food is opened up.
                                        </div>
                                    </div>
        
                                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="3%" style="width: 100%;">
                                        <div>
                                            <fa-icon [icon]="faUtensils"></fa-icon> 
                                        </div>
                                        <div style="width: 100%;">
                                            The box acts like a bird feeder.
                                        </div>
                                    </div>
        
                                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="2%" style="width: 100%;">
                                        <div>
                                            <fa-icon [icon]="faHome"></fa-icon>
                                        </div>
                                        <div  style="width: 100%;">
                                            The goal is to acclimatise the birds to the box's look, feel and sounds.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>

            <div fxHide.xs="true" fxHide.sm="true">
                <img class="howToImage" src="https://via.placeholder.com/400" alt="Image of Food Lid Open">
            </div>
        </div>
    </slide>


    <slide>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5%" fxLayout.xs="column" fxLayout.sm="column">

            <div fxHide.xs="true" fxHide.sm="true">
                <img class="howToImage" src="https://via.placeholder.com/400" alt="Image of Food Lid Open">
            </div>
            
            <div fxFlex="50">
                <mat-card style="width: 100%;">
                    <mat-card-title>
                        Training Stage 2
                    </mat-card-title>
                    <mat-card-content>

                        <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="2%"> 
                            <div>
                                In the Second Training stage, the aim is to encourage crows to land on top of the CrowBox. The roof of the box sits on a couple of switches which once pressed, open the Food Lid. This is the first step in training the crows to follow human instructions.
                            </div>
                            <div>
                                <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="2%">
                                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="2.5%" style="width: 100%;">
                                        <div>
                                            <fa-icon [icon]="faLock"></fa-icon> 
                                        </div>
                                        <div style="width: 100%;">
                                            The lid to the food is closed. 
                                        </div>
                                    </div>
        
                                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="2%" style="width: 100%;">
                                        <div>
                                            <fa-icon [icon]="faToggleOn"></fa-icon> 
                                        </div>
                                        <div style="width: 100%;">
                                            Crows will press a switch by landing on the roof. 
                                        </div>
                                    </div>
        
                                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="2%" style="width: 100%;">
                                        <div >
                                            <fa-icon [icon]="faLockOpen"></fa-icon>
                                        </div>
                                        <div  style="width: 100%;">
                                            Pressing the switch results in the Food Lid sliding open for the crows to feed on. 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </slide>

    <slide>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5%" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="50">
                <mat-card style="width: 100%;">
                    <mat-card-title>
                        Training Stage 3
                    </mat-card-title>
                    <mat-card-content>

                        <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="2%">
                            <div>
                                During the Third Training Stage, the crows will have access to a set of coins which they must figure out how to deposit into the box. Upon successfully depositing a coin down the access point, the food lid will open and they will once again be rewarded.
                            </div>
                            <div>
                                <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="2%">
                                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="2%" style="width: 100%;">
                                        <div >
                                            <fa-icon [icon]="faCoins"></fa-icon> 
                                        </div>
                                        <div style="width: 100%;">
                                            Coins are provided through the coin dispenser.
                                        </div>
                                    </div>
        
                                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="2%" style="width: 100%;">
                                        <div >
                                            <fa-icon [icon]="faDonate"></fa-icon> 
                                        </div>
                                        <div style="width: 100%;">
                                            Crows are expected to knock the coins down the chute. 
                                        </div>
                                    </div>
        
                                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="2%" style="width: 100%;">
                                        <div>
                                            <fa-icon [icon]="faGift"></fa-icon>
                                        </div>
                                        <div  style="width: 100%;">
                                            The goal is to train crows to deposit coins for a reward. 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>

            <div fxHide.xs="true" fxHide.sm="true">
                <img class="howToImage" src="https://via.placeholder.com/400" alt="Image of Food Lid Open">
            </div>
        </div>
    </slide>
    
    <slide>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5%" fxLayout.xs="column" fxLayout.sm="column">

            <div fxHide.xs="true" fxHide.sm="true">
                <img class="howToImage" src="https://via.placeholder.com/400" alt="Image of Food Lid Open">
            </div>
            
            <div fxFlex="50">
                <mat-card style="width: 100%;">
                    <mat-card-title>
                        Training Stage 4
                    </mat-card-title>
                    <mat-card-content>

                        <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="2%">
                            <div>
                                The Fourth and Final Stage functions similar to Stage 3, except the coins will not be provided to the crows as they will be expected to find and bring their own from the environment.

                            </div>
                            <div>
                                <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="2%"> 
                                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="2.5%" style="width: 100%;">
                                        <div>
                                            <fa-icon [icon]="faLock"></fa-icon> 
                                        </div>
                                        <div style="width: 100%;">
                                            The lid to the food is closed. 
                                        </div>
                                    </div>
        
                                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="2%" style="width: 100%;">
                                        <div>
                                            <fa-icon [icon]="faTimesCircle"></fa-icon> 
                                        </div>
                                        <div style="width: 100%;">
                                            No coins will be provided to the crows.  
                                        </div>
                                    </div>
        
                                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="2%" style="width: 100%;">
                                        <div >
                                            <fa-icon [icon]="faSearchDollar"></fa-icon>
                                        </div>
                                        <div  style="width: 100%;">
                                            Crows are expected to find and deposit the coins by themselves. 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </slide>
</carousel>

