<app-header></app-header>


<div id = "box">
    <mat-card style="background-color: #066025; height:100%">
        <mat-card-title style="text-align: center; color: #86b8fd; font-weight: 650;">Report For</mat-card-title>
        <mat-card-content style="position: absolute; text-align: center; color: ivory; font-size: 45px; bottom: 3vh; ">Crowbox Name</mat-card-content>
    </mat-card>
</div>


<div id = "food">
    <mat-card>
        <mat-card-title>food level</mat-card-title>
        <mat-card-content>WORKING</mat-card-content>

    </mat-card>
</div>

<div id = "coin">
    <mat-card>
        <mat-card-title>coin dispenser</mat-card-title>
        <mat-card-content>WORKING</mat-card-content>
    </mat-card>
</div>


<div id = "lid">
    <mat-card>
        <mat-card-title>sliding lid</mat-card-title>
        <mat-card-content>WORKING</mat-card-content>
    </mat-card>
</div>


<div id = "perch">
    <mat-card>
        <mat-card-title>perch switches</mat-card-title>
        <mat-card-content>WORKING</mat-card-content>
    </mat-card>
</div>


<div id = "water">
    <mat-card>
        <mat-card-title>water/humidity</mat-card-title>
        <mat-card-content>WORKING</mat-card-content>
    </mat-card>
</div>


<div id = "wifi">
    <mat-card>
        <mat-card-title>water/humidity</mat-card-title>
        <mat-card-content>WORKING</mat-card-content>
    </mat-card>
</div>


