

<div id = "food">
    <mat-card>
        <mat-card-title>food level</mat-card-title>
        <mat-card-content>{{foodLevel}}</mat-card-content>

    </mat-card>
</div>

<div id = "coin">
    <mat-card>
        <mat-card-title>coin dispenser</mat-card-title>
        <mat-card-content>{{coinsRemaining}}</mat-card-content>
    </mat-card>
</div>


<div id = "lid">
    <mat-card>
        <mat-card-title>sliding lid</mat-card-title>
        <mat-card-content>{{servo}}</mat-card-content>
    </mat-card>
</div>

<!-- 
<div id = "perch">
    <mat-card>
        <mat-card-title>perch switches</mat-card-title>
        <mat-card-content>WORKING</mat-card-content>
    </mat-card>
</div> -->


<div id = "water">
    <mat-card>
        <mat-card-title>water/humidity</mat-card-title>
        <mat-card-content>{{water}}</mat-card-content>
    </mat-card>
</div>


<div id = "wifi">
    <mat-card>
        <mat-card-title>WiFi</mat-card-title>
        <mat-card-content>{{wifi}}</mat-card-content>
    </mat-card>
</div>


