.wrapper {
    /* border: #cd6413;
    border-style: double; */

    position: relative;
    top:5%;

}


.fontStyle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* MATERIALS */
.mat-card {
    background-color: #afd0fe;
    /* padding: 5%; */
    margin-bottom: 5%;
}

.mat-card-title{
    text-align: center;
    color: #cd6413;
    font-weight: 650;
    font-size: larger;

}

.mat-card-content {
    text-align: center;
    color: #25356a;
    /* font-size:70px; */
    font-weight: bolder;
    font-size: xxx-large;

}
