/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/fontawesome';

body {
    background-color: #cee6b2;
    /* background-color: #f3f2ef; */
}


/* to remove "slide 1 of 2" from charts carousel */
.carousel-inner .sr-only {
    display: none;
 }
 
html, body { 
    
    height: 100%; 
    max-width: 100%;
    overflow-x: hidden;

}




body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '~@fortawesome/fontawesome-free/scss/fontawesome.css';
@import '~@fortawesome/fontawesome-free/scss/solid.css';
@import '~@fortawesome/fontawesome-free/scss/regular.css';
@import '~@fortawesome/fontawesome-free/scss/brands.css';
 
@import '~mdb-angular-ui-kit/assets/scss/mdb.css';
