/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    background-color: #cee6b2;
    /* background-color: #f3f2ef; */
}


/* to remove "slide 1 of 2" from charts carousel */
.carousel-inner .sr-only {
    display: none;
 }
 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

