


<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/vvCie7tByq4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="3%" style="height: 100%;">

    <div class="containerX">
        <iframe class="youtube" src="https://www.youtube.com/embed/Uj9F9RpleCU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div>
        <mat-card>
            <mat-card-title>Github Repository</mat-card-title>
            <mat-card-content>
                <nav>
                    <a href="https://github.com/iamastic/CrowBox2.0/tree/main/Crowbox"> Click here to view the CAD Files, Code and More...</a>
                </nav>
            </mat-card-content>
        </mat-card>
    </div>
</div>