<div class = "wrapper" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10%">

    <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10%">
        <div>
            <h1>The World</h1>
        </div>
    
        <div>
            <h1>View</h1>
        </div>
    
    </div>

    <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="1%">
        <div>
            <h2>Spin the Globe...</h2>
        </div>
    
        <div>
            <h2>Click on the Bar Charts...</h2>
        </div>
    
        <div> 
            <h2>Check out the Data...</h2>
        </div>
    </div>

</div>