.mat-card-title {
    color : #86b8fd;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}

.mat-card-content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    color: white;
    font-weight:bolder;
    text-align: center;
}

.mat-card {
    background-color: #066025;
    width: 75%;
}

.mat-divider.mat-divider-vertical {
    border-right-color: rgb(0, 0, 0);
    border-right-width: 2px;
  
    position: absolute;
    right:80vh;
    
    top:13vh;
    height: 715px;
} 

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    font-size: xx-large;
    color: #25356a;
    font-weight: bolder;
    text-align: center;
}


/* INFO BOX RELATED */
#dataInformation {

}

#boxStatusButton {
    background-color: transparent;
    border: none;
    align-items: center;

}

#statusError {

}

#closeStatusError {
    position:absolute;
    margin: auto;
  
    right: 87.5vh;
    
    bottom: 1vh;
}