<!-- <mat-divider vertical="true"> </mat-divider> -->

<div id = "dataInformation" fxLayout="column" fxLayoutAlign="space-evenly center"> 
    <h1>CrowBox Information</h1>

    <!-- DROP DOWN TO SELECT TRAINING STAGE -->
    <div class="row">
        <div class="col">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Current Training Stage: {{currentTrainingStage}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem (click)="phaseOne()">Training Phase 1</button>
                    <button ngbDropdownItem (click)="phaseTwo()">Training Phase 2</button>
                    <button ngbDropdownItem (click)="phaseThree()">Training Phase 3</button>
                    <button ngbDropdownItem (click)="phaseFour()">Training Phase 4</button>
                </div>
            </div>
        </div>
    </div>

    <mat-card>
        <mat-card-title>NICKNAME</mat-card-title>
        <mat-card-content>{{ crowboxNickname }}</mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>START DATE</mat-card-title>
        <mat-card-content>{{ informationBox.date_joined }}</mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>TOTAL COINS DEPOSITED</mat-card-title>
        <mat-card-content>{{ totalCoinsDeposited }}</mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>NUMBER OF BIRDS ON PERCH</mat-card-title>
        <mat-card-content>{{ totalCrowsLandedOnPerch }}</mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>STATUS</mat-card-title>        
        <!-- Show Box's status -->
        <mat-card-content>{{ status }}</mat-card-content>
        
        <!-- If not working, show button - Then show Icon -->
        <button id="boxStatusButton" (click)="changeBoxStatus()">
           <mat-icon *ngIf="isError">error</mat-icon> 
        </button>
    </mat-card>
</div>

<!-- This div will open when the button is pressed if 
    there is an error -->
<div id ="statusError" *ngIf="showStatusBox">
    <mat-card style="background-color: #ededed;">
        <app-troubleshoot></app-troubleshoot>
    </mat-card>

    <button id="closeStatusError" mat-raised-button (click)="changeBoxStatus()">
        Close
    </button>
</div>