.mat-card-title {
    color : #86b8fd;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}

.mat-card-content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    color: white;
    font-weight:bolder;
    text-align: center;
}

.mat-card {
    background-color: #066025;
    width: 75%;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    font-size: xx-large;
    color: #25356a;
    font-weight: bolder;
    text-align: center;
}

#boxStatusButton {
    background-color: transparent;
    color: white;
    border: none;
}

