
<div id = "dataInformation">  
    <h1>CrowBox Information</h1>

    <div id="pendingProfile" *ngIf="pendingProfileDetails === true">
        PLEASE FILL OUT YOUR PROFILE 
    </div>
    

    <div id = "Nickname">
        <h5>NICKNAME</h5>

        <h2>{{ informationBox.nickname }}</h2>
    </div>

    <div id = "startDate">
        <h5>START DATE</h5>
        <h2>{{ informationBox.date_joined }}</h2>
    </div>
    
    <div id = "totalCoinsDeposited">
        <h5>TOTAL COINS DEPOSITED</h5>
        <h2>{{ informationBox.total_coins_deposited }}</h2>
    </div>
    
    <div id = "numBirdsOnPerch">
        <h5>NUMBER OF BIRDS ON PERCH</h5>
        <h2>{{ informationBox.total_crows_landed_on_perch }}</h2>
    </div>

    <div id = "status">
        <h5>STATUS</h5>
    </div>

    <!-- DROP DOWN TO SELECT TRAINING STAGE -->
    <div class="row">
        <div class="col">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Current Training Stage: {{currentTrainingStage}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem (click)="phaseOne()">Training Phase 1</button>
                    <button ngbDropdownItem (click)="phaseTwo()">Training Phase 2</button>
                    <button ngbDropdownItem (click)="phaseThree()">Training Phase 3</button>
                    <button ngbDropdownItem (click)="phaseFour()">Training Phase 4</button>
                </div>
            </div>
        </div>
    </div>
</div>