<app-header></app-header>

<div class="wrapper" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1%"  fxLayout.xs="column" fxLayout.sm="column">

    <div class="wrapper2" fxLayout="column" fxLayoutAlign="space-around end" fxLayoutGap="20%" fxFlex="18">
        <app-picture style="width: 100%;"></app-picture> 
        <app-edit-info></app-edit-info>
    </div>


    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="3" fxHide.xs fxHide.sm>
        <mat-divider vertical="true"> </mat-divider>
    </div>

    <app-profilebox fxFlex="50"></app-profilebox>

</div>
