.wrapper {
/*     border: yellow;
    border-style: double; */

    position: relative;
    top:5%;
}

.wrapper2 {
/*     border: #cd6413;
    border-style: double; */
}


.mat-divider.mat-divider-vertical {
    border-right-color: rgb(0, 0, 0);
    border-right-width: 2px;

    height: 600px;

} 