<h2>Crow Box Data</h2>

<div>
    <div id = "chart">
        <canvas baseChart
                [datasets]="crowOnPerchChartData"
                [labels]="crowOnPerchChartLabels"
                [options]="crowOnPerchChartOptions"
                [legend]="crowOnPerchChartLegend"
                [chartType]="crowOnPerchChartType"
                >
        </canvas>
    </div>
</div>

<div>
    <div id = "chart2">
        <canvas baseChart
                [datasets]="coinsDepositedChartData"
                [labels]="coinsDepositedChartLabels"
                [options]="coinsDepositedChartOptions"
                [legend]="coinsDepositedChartLegend"
                [chartType]="coinsDepositedChartType"
                >
        </canvas>
    </div>
</div>
