/* CONNECT CROWBOX */

.buttonText{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}

.mat-card{
    background-color: #ededed;
    width:50%;
}

.mat-card-content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #25356a;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    line-height: 150%;
}

.mat-raised-button {
    color: aqua;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #25356a;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    line-height: 150%;
}


br {
    display: block;
    content: "";
    margin-top: 0px;
}

/* BUTTON RELATED */
.mat-button-toggle {
    color: aqua;
}

/* OFFLINE MODE */

.file-input {
    display: none;
  }