<h2>Crow Box Data</h2>



<ngb-carousel #carousel [interval] = "1000">
</ngb-carousel>


<div>
    <div id = "crowOnPerchChart">
        <canvas baseChart
                [datasets]="crowOnPerchChartData"
                [labels]="crowOnPerchChartLabels"
                [options]="crowOnPerchChartOptions"
                [legend]="crowOnPerchChartLegend"
                [chartType]="crowOnPerchChartType"
                >
        </canvas>
    </div>
</div>


<div>
    <div id = "coinsDepositedChart">
        <canvas baseChart
                [datasets]="coinsDepositedChartData"
                [labels]="coinsDepositedChartLabels"
                [options]="coinsDepositedChartOptions"
                [legend]="coinsDepositedChartLegend"
                [chartType]="coinsDepositedChartType"
                >
        </canvas>
    </div>
</div>