<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2%"  >

    <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="7%" class = "welcomeMessage"> 
        <div>
            <h2>Welcome to...</h2>
        </div>
        
        <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="15%">
            <div>
                <h1>The</h1>
            </div>
        
            <div>
                <h1>CrowBox</h1>
            </div>
    
                
            <div>
                <h1>2.0</h1>
            </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center start">
            <div>
                <h2>A Citizen Science Project connecting</h2>
            </div>
    
            <div>
                <h2>Humans with Crows</h2>
            </div>
        
            <div>
                <app-auth></app-auth>
            </div>
        </div>
    </div>
    
    
    <div fxHide.xs="true" fxHide.sm="true">
        <div class="image-stack">
            <div class="image-stack__item image-stack__item--top">
              <img src="https://via.placeholder.com/300" alt="">
            </div>
            <div class="image-stack__item image-stack__item--bottom">
              <img src="https://via.placeholder.com/300" alt="">
            </div>
        </div>
    </div>
</div>
