<div id = "navContainer">
    <div id = "home" class = "fontStyle">
        <nav>
            <a routerLink = "/home"> HOME </a>
        </nav>
    </div>

    <mat-divider vertical="true" style="margin-left:20.5%; top:-1vh;"> </mat-divider>

    <div id = public class = "fontStyle">
        <nav>
            <a routerLink = "/public"> WORLD </a>
        </nav>
    </div>


    <mat-divider vertical="true" style="margin-left: 49%; top:-1vh;"> </mat-divider>


<!--     <div id = troubleshoot class = "fontStyle">
        <nav>
            <a routerLink = "/troubleshoot"> TROUBLESHOOT </a>
        </nav>
    </div>
 -->

 
    <div id = data class = "fontStyle">
        <nav>
            <a routerLink = "/data"> DATA </a>
        </nav>
    </div>

    <mat-divider vertical="true" style="margin-left: 71%; top:-1vh;"> </mat-divider>


    <div id = profile class = "fontStyle">
        <nav>
            <a routerLink = "/profile"> PROFILE </a>
        </nav>
    </div>
</div>


 