<div class = "wrapper" >
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-evenly center" >
        <div class="headerTitle flex-item">
            <nav>
                <a routerLink = "/home" routerLinkActive="active"> 
                    <mat-icon>home</mat-icon>
                    <span id="headerText" fxHide.xs fxHide.sm>HOME</span>     
                </a>
            </nav>
        </div>
    
        <div class="headerTitle flex-item"> 
            <nav>
                <a routerLink = "/public" routerLinkActive="active"> 
                    <mat-icon>public</mat-icon>
                    <span id="headerText" fxHide.xs fxHide.sm>WORLD</span> 
                </a>
            </nav>
        </div>
     
        <div class="headerTitle flex-item">
            <nav>
                <a routerLink = "/data" routerLinkActive="active"> 
                    <mat-icon>bar_chart</mat-icon>
                    <span id="headerText" fxHide.xs fxHide.sm>DATA</span> 
                     
                </a>
            </nav>
        </div>
    
        <div class="headerTitle flex-item"> 
            <nav>
                <a routerLink = "/profile" routerLinkActive="active"> 
                    <mat-icon>person_pin</mat-icon>
                    <span id="headerText" fxHide.xs fxHide.sm>PROFILE</span> 
                 
                </a>
            </nav>
        </div>
    </mat-toolbar>
</div>
