
<button (click)="getUserId()">Get User ID </button>
<h1>User Id is: {{userId}}</h1>


<div>
    <h1>Crowbox Training Phase</h1>

</div>

<button (click)="setOne()">1</button>

<button (click)="setTwo()">2</button>

<button (click)="setThree()">3</button>

<button (click)="setFour()">4</button>

<button (click)="updateSubscription()">Update</button>
<!-- 
<h2>Coins Deposited:</h2>

<ul>
    <li *ngFor = "let i of displayCoins | async">
        {{i.coins_deposited}}
    </li>
</ul>

<h2>Crows on Perch:</h2>
<ul>
    <li *ngFor = "let i of displayCrows | async">
        {{i.crows_landed_on_perch}}
    </li>
</ul>
 -->
<!-- chart work -->

<h2>Crow Box Data</h2>

<div>
    <div id = "chart">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                >
        </canvas>
    </div>
</div>


