<canvas #globeCanvas (window:resize)="onWindowResize()"></canvas>

<div id = "info" [style.display]= "displayType" [style.top] = "top"  [style.left] = "left">
    <mat-card>
        <mat-card-title>
            {{countryName}}
        </mat-card-title>
        <mat-card-content>
            <div *ngIf="coinsDeposited">
                <b>Number of Coins Deposited by Crows: </b> {{coinsDeposited}}
            </div>
            <div *ngIf="crowsLandedOnPerch">
                <b>Number of Crows that Landed On the Perch: </b> {{crowsLandedOnPerch}}
            </div>
        </mat-card-content>
    </mat-card>
</div>
