<div id="mainContainer">

    <div id = "name">

        <mat-card>
            <div id = "left">
                Name
            </div>
    
            <div id="right">
                {{profileData.name}}
            </div>            
        </mat-card>

    </div>

    <div id = "location">

        <mat-card>
                   <div id="left">
            <p>Location</p>    
        </div>

        <div id="right">
            <p>{{profileData.location}}</p>
        </div> 
        </mat-card>

    </div>

    <div id = "email">

        <mat-card>
            <div id="left">
                <p>E-mail Address</p>    
            </div>
    
            <div id="right">
                <p>{{profileData.email}}</p>
            </div>
        </mat-card>

    </div>

    <div id = "notification">

        <mat-card>
            <div id="left">
                <p>Notifications</p>    
            </div>
    
            <div id="right">
                <p>{{profileData.notification}}</p>
            </div>
        </mat-card>

    </div>

    <div id = "sharing">
        <mat-card>
            <div id="left">
                <p>Sharing</p>    
            </div>
    
            <div id="right">
                <p>{{profileData.sharing}}</p>
            </div>
        </mat-card>

    </div>

    <div id = "numBoxes">
        <mat-card>
            <div id="left">
                <p>Number of Crow Boxes</p>    
            </div>
    
            <div id="right">
                <p>{{profileData.numCrowBoxes}}</p>
            </div>
        </mat-card>

    </div>

    <div id = "numCoins">
        <mat-card>
            <div id="left">
                <p>Total Number Of Coins</p>    
            </div>
    
            <div id="right">
                <p>{{profileData.totalCoins}}</p>
            </div>
        </mat-card>

    </div>

    
    <div id = "numCrows">
        <mat-card >
            <div id="left">
                <p>Total Number Of Crows Landed On Perch</p>    
            </div>
    
            <div id="right">
                <p>{{profileData.totalCrowsLanded}}</p>
            </div>
        </mat-card>

    </div>
</div>
