#mainContainer {

    /* border: green;
    border-style: double; */
}

.mat-card {
    background-color: #ededed;
}

#left {
    /* width: 100%; */

    text-align: left;

    color: #25356a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bolder;

    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#right {
    /* width: 100%; */

    text-align:right;

    color: #5972c5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bold;

    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: transparent;

}

