<div id="mainContainer">

    <div id = "name">
        <div id = "left">
            Name
        </div>

        <div id="right">
            Hamza
        </div>
    </div>

    <div id = "location">
        <div id="left">
            <p>Location</p>    
        </div>

        <div id="right">
            <p>Portugal</p>
        </div>
    </div>

    <div id = "email">
        <div id="left">
            <p>E-mail Address</p>    
        </div>

        <div id="right">
            <p>john@doe.com</p>
        </div>
    </div>

    <div id = "notification">
        <div id="left">
            <p>Notifications</p>    
        </div>

        <div id="right">
            <p>Always On</p>
        </div>
    </div>

    <div id = "sharing">
        <div id="left">
            <p>Sharing</p>    
        </div>

        <div id="right">
            <p>Public</p>
        </div>
    </div>

    <div id = "numBoxes">
        <div id="left">
            <p>Number of Crow Boxes</p>    
        </div>

        <div id="right">
            <p>0</p>
        </div>
    </div>

    <div id = "numCoins">
        <div id="left">
            <p>Total Number Of Coins</p>    
        </div>

        <div id="right">
            <p>0</p>
        </div>
    </div>

    
    <div id = "numCrows">
        <div id="left">
            <p>Total Number Of Crows Landed On Perch</p>    
        </div>

        <div id="right">
            <p>0</p>
        </div>
    </div>

</div>