.wrapper {
    /* border: #cd6413;
    border-style: double; */

    position: relative;
    top:5%;
}

.mat-divider.mat-divider-vertical {
    border-right-color: rgb(0, 0, 0);
    border-right-width: 2px;

    height: 600px;
    position: relative;
    margin: auto;
    right: 5vh;    
} 

#troubleshoot{
    /* border: #cd6413;
    border-style: double; */

    position: absolute;
    margin: auto;
    top:0vh;
    bottom: 0vh;
    left: 0vh;
    right: 0vh;
    
    width: 90%;
    height: fit-content;

    z-index: 100;
}